@page
@model University.Pages.Lists.ListMainModel
@{
}

<div class="col-sm">
    <div class="col-4 mb-5">
        <a class="mt-1" asp-area="" asp-page="/Lists/ListOfStudent">List of students</a>
        <br />
    </div>
    <div class="col-4 mb-5">
        <a class="mt-1" asp-area="" asp-page="/Lists/ListOfCourses">List of Courses</a>
        <br />
    </div>
    <div class="col-4 mb-5">
        <a class="mt-1" asp-area="" asp-page="/Lists/ListOfSpecializations">List of Specializations</a>
        <br />
    </div>
    <div class="col-4 mb-5">
        <a class="mt-1" asp-area="" asp-page="/Lists/ListOfRecords">List Records</a>
        <br />
    </div>
</div>
