@page
@model CreateModel
@{
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="col-4 mb-5">
                    <a class="mt-1" asp-area="" asp-page="/Create_Change_Delete/Create/AddNewStudent">Add new student</a>
                    <br />
                </div>
                <div class="col-4 mb-5">
                    <a class="mt-1" asp-area="" asp-page="/Create_Change_Delete/Create/CreateCourse">Create Course</a>
                    <br />
                </div>
                <div class="col-12 mb-5">
                    <a class="mt-1" asp-area="" asp-page="/Create_Change_Delete/Create/CreateSpecialization">Create Specialization</a>
                    <br />
                </div>
                <div class="col-4 mb-5">
                    <a class="mt-1" asp-area="" asp-page="/Create_Change_Delete/Create/CreateRecord">Create record</a>
                    <br />
                </div>
            </div>

            <div class="col-sm">
                <div class="col-4 mb-5">
                    <a class="mt-1" asp-area="" asp-page="/Create_Change_Delete/Change/ChangeStudent">Change student</a>
                    <br />
                </div>
                <div class="col-4 mb-5">
                    <a class="mt-1" asp-area="" asp-page="/Create_Change_Delete/Change/ChangeCourse">Change Course</a>
                    <br />
                </div>
                <div class="col-12 mb-5">
                    <a class="mt-1" asp-area="" asp-page="/Create_Change_Delete/Change/ChangeSpecialization">Change Specialization</a>
                    <br />
                </div>
                <div class="col-4 mb-5">
                    <a class="mt-1" asp-area="" asp-page="/Create_Change_Delete/Change/ChangeRecord">Change record</a>
                    <br />
                </div>
            </div>

            <div class="col-sm">
                <div class="col-4 mb-5">
                    <a class="mt-1" asp-area="" asp-page="/Create_Change_Delete/Delete/DeleteStudent">Delete student</a>
                    <br />
                </div>
                <div class="col-4 mb-5">
                    <a class="mt-1" asp-area="" asp-page="/Create_Change_Delete/Delete/DeleteCourse">Delete Course</a>
                    <br />
                </div>
                <div class="col-12 mb-5">
                    <a class="mt-1" asp-area="" asp-page="/Create_Change_Delete/Delete/DeleteSpecialization">Delete Specialization</a>
                    <br />
                </div>           
                <div class="col-4 mb-5">
                    <a class="mt-1" asp-area="" asp-page="/Create_Change_Delete/Delete/DeleteRecord">Delete record</a>
                    <br />
                </div>
            </div>     
        </div>
    </div>
}
