@page
@model University.Pages.Change.ChangeCourseModel
@{
}


<h1>Change</h1>
<hr />
<div class="row">
    <div class="col-6">

        <div class="card">
            <div class="card-header">
                <h5>Change Course</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <button name="action" value="Choose course" type="submit" class="btn btn-primary">Choose course</button>
                    </div>
                    <div class="mb-3">
                         <input type="hidden" asp-for=course.Id/>
                        <label class="form-label">Course number</label>
                        <input asp-for=course.Name type="number" class="form-control"> <!--model.Name-->
                    </div>
                    <div class="mb-3">
                        <button name="action" value="Save course" type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>